.about {
  background: var(--home-violet-background);
}

.about__inner {
  padding: 16px;
  display: grid;
  color: var(--white);
  @include mobile-min-width {
      padding: 60px 50px 74px 50px;
    }

      @include tablet-min-width {
        padding: 56px 210px 32px 94px;
      }

         @include laptop-min-width {
          padding: 58px 210px 32px 110px;
        }

        @include desktop_large-min-width {
          padding: 41px 130px 37px 130px;
          grid-auto-flow: column;
          column-gap: 120px;
          justify-content: center;
        }
       
}

.about__heading {
  font-size: 36px;
  position: relative;
  font-family: var(--font-family-base);

    @include tablet-min-width {
      text-align: center;
    }
      @include laptop-min-width {
        text-align: start;
      }
}

.about__content {
  max-width: 680px;
  display: grid;
  padding-bottom: 40px;
  grid-row-gap: 24px;
    @include tablet-min-width {
         padding-bottom: 44px;
       }
        @include desktop_large-min-width {
            padding-top: 22px;
        }


}

.about__text {
  @include desktop_large-min-width {
          padding-bottom: 30px;
        }
}

.about__content > :nth-child(5) {
  justify-self: start;
}

.about__heading::after {
  position: absolute;
  content: '';
  width: 80%;
  height: 4px;
  background: rgba(253, 191, 163, 1);
  left:0;
  bottom: -26px;
     @include tablet-min-width {
      left: -94px;
       width: 100%;
    }

    @include laptop-min-width {
        left: -110px;
        width: 66%;
        bottom: -20px;
      }

      @include desktop_large-min-width {
        width: 80%;
         left:0;
      }

}


.about__card-profile {
  background: var(--white);
  border-radius: 20px;
  max-width: 260px;
  max-height:  600px;
  padding: 20px 50px 40px 50px;
  display: grid;
  column-gap: 32px;
  justify-content: center;
  box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 80%;
  @include mobile-min-width {
      max-width: 380px;
    }

     @include tablet-min-width {
      display: flex;
      max-width: 580px;
      max-height:  440px;
      padding: 20px 46px 20px 20px;
    }
}

.about__card-content {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 14px;

    @include tablet-min-width {
        align-items: start;
        padding-top: 24px;
      }
}

/*.about__card-profile > :nth-child(4) {
  justify-self: center;
} */

.about__card-heading {
  text-transform: uppercase;
  color: var(--violet-text);
}

.about__card-text {
  white-space: nowrap;
  color: var(--dark-blue);
  padding-bottom: 6px;
  font-family: var(--font-family-base);
}