.hero-slide {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 840px;

    @include mobile-min-width {
      min-height: 800px;
    }
  }

  .button--align {
    place-self: center;
     @include tablet-min-width {
      place-self: start;
    }
  }

.slide__img {
  z-index: -1;
  inset: 0;
  position: absolute;
  width:100%;
  height: 100%;
  object-fit: cover; 
}

.slide__content {
  display: grid;
  padding: 20px 20px 100px 20px;
  color: var(--white);
  grid-row-gap: 20px;

    @include mobile-min-width {
      padding: 40px 40px 100px 40px;
    }

    @include tablet-min-width {
      padding: 140px 110px 106px 94px;
    }
     @include laptop-min-width {
      padding: 140px 326px 130px 110px;
      grid-row-gap: 24px;
    }
    @include desktop-min-width {
      padding: 130px 50% 100px 158px;
    }

}

.slide__options {
  display: grid;
  gap: 12px;
  place-items: center;

    @include mobile-min-width {
      gap: 22px;
      grid-template-columns: max-content max-content;
      grid-template-rows: 1fr 1fr;
    }

    @include tablet-min-width {
      gap: 22px;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: auto;
    }
 
}

.slide__options-item:nth-child(3) {
  @include mobile-min-width {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    }
    @include tablet-min-width {
      grid-column: auto;
      place-self: auto;
    }
}


.slide__options-item {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  background: rgba(109, 49, 208, 0.5);
  box-shadow: 0 0 80px 0 rgba(2, 63, 118, 1);
  color: rgba(255, 219, 128, 1);
  border-radius: 30px;
  padding: 0 4px;
  font-size: 16px;
  font-weight: 16px;
  font-family: var(--font-family-base);
}


.slide__options-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -11px;
  bottom:5px;
  width: 2px;
  height: 10px;
  background: var(--white);
} 

.slide__heading-wrap {
  display:grid;
  text-align: center;
  font-family: var(--font-family-base);

    @include mobile-min-width { 
      font-size: 36px;
      justify-self: start;
      text-align: left;
      letter-spacing: 0;
      min-width: 400px;
    } 
  }

.slide__heading {
  font-size: 36px;
  
}

.slide__subheading {
  font-weight: 600;
}

.slide__text {
  text-align: center;

  @include mobile-min-width {
      text-align: start;
    }
}
