

.services-container {
 background: var(--home-violet-background);
}

.services-heading {
  position: relative;
  display: grid;
  justify-items: center;
  color: var(--white);
  font-family: var(--font-family-base);
  font-size: 36px;
  padding-bottom: 56px;
}

.services-heading:after {
  position: absolute;
  content: '';
  bottom: 40px;
  width: 380px;
  height: 4px;
  background: rgba(253, 191, 163, 1);
}

// main grid
.services-grig {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  grid-template-columns:  minmax(340px, 380px);

    @include tablet-min-width {
      grid-template-columns:  380px 380px;
    }
    @include desktop-min-width {
      grid-template-columns:  380px 380px 380px;
    }
}

.services-grid__item {
  border-radius: 20px;
  background: var(--white);
  display: grid;
  grid-template-rows: repeat(2, 260px);
  transition: transform 0.2s ease;
}

.services-grid__item:hover {
  transform: scale(1.03);
}

.services-img-wrap {
  width:100%;
  min-height: 260px;
  object-fit: cover;

  @include mobile-min-width {
    min-width:380px;
  }
}

.services-content {
  color: var(--paragrahp-black-color);
  display:grid;
  place-items: center;
  
}

.services-content__heading {
  text-align: center;
  font-weight: 600;
  font-family: var(--font-family-base);
  font-size: 24px;

  @include mobile-min-width {
    font-size: 36px;
  }
}

.services-content__heading {
  color: var(--heading-black-color);
}

.services-content__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-base);
}

.services-grid__item--last {
  @include tablet-min-width {
    justify-self: center; 
    grid-column: 1 / 3;
    grid-row: 2;
    max-width: 380px;
  }

  @include desktop-min-width {
    justify-self: auto;
    grid-column: auto;   
    grid-row: auto;  
  }
}