@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--font--family-base);
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

a, button {
  transition: transform 0.2s ease;
}

button:active {
  transform: scale(1.06);
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-base);
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family-base);
}

picture {
  display: block;
  height: 100%;
  width: 100%;
}

svg {
  color: var(--white);
}

::-webkit-scrollbar {
  height: 10px; /*высот адля горизонтального скролбара*/
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* Chrome, Safari, Opera */
}

.visually-hidden {
  position: absolute; /* убираем из потока */
  width: 1px; /* минимальный размер */
  height: 1px;
  overflow: hidden; /* скрываем содержимое */
  clip: rect(0 0 0 0); /* обрезаем */
  white-space: nowrap; /* не переносим строки */
}

:root {
  --font-family-base: "Helvetica Neue", sans-serif;
  --transition-duration: 0.2s;
  --svg-color: blue;
  --white: rgb(255,255,255);
  --violet-text: rgba(109, 49, 208, 1);
  --orange-background-gradient: linear-gradient(to bottom,
  rgba(254, 252, 158, 1) 0%, rgba(254, 252, 158, 1) 50%,
  rgba(253, 191, 163, 1) 50%,
  rgba(253, 191, 163, 1) 100%);
  --buton-background: linear-gradient(to right,
  rgba(255, 235, 128, 1) 0%,
  rgba(253, 191, 163, 1) 100%);
  --header-background: linear-gradient(to right, rgba(83, 38, 157, 1) 0%, rgba(109, 49, 208, 1) 100%);
  --font-family-base: "Montserrat", sans-serif;
  --font-family-second: "Nunito Sans", sans-serif;
  --home-violet-background: linear-gradient(to bottom,
    rgba(130, 140, 222, 1) 0%,
    rgba(109, 49, 208, 1) 100%);
  --paragrahp-black-color: rgba(67, 67, 100, 1);
  --heading-black-color: rgba(96, 88, 102, 1);
  --dark-blue: rgba(67, 67, 100, 1);
  --light-peach: rgba(253, 191, 163, 1);
  --white-shadow: rgba(28, 37, 44, 0.08);
  --grey-warm: rgba(174, 168, 178, 0.5);
  --gray-dark: rgba(88, 87, 121, 1);
}

*,
::before,
::after {
  box-sizing: border-box !important;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class*/
:where(h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**Наследуем свойства шрифт для полей ввода*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта*/
  height: 100%;
  /**Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара*/
  /*scrollbar-gutter: stable; */
}

/**Плавный скролл*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

button {
  font-size: 14px;
  all: unset; /* Сбрасывает все стандартные стили */
  border: none;
  padding: 0;
  font-family: inherit;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-appearance: none; /* Убирает стиль системных кнопок в некоторых браузерах */
}

a,
button,
label {
  cursor: pointer;
}

a:where([class]) {
  display: inline-flex;
}

/**Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')*/
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  padding-top: 120px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  height: 100%;
}

.section {
  padding: 60px 50px;
}

.header {
  height: 120px;
  width: 100%;
  background: var(--header-background);
  position: fixed;
  z-index: 10;
}

.header__inner {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__inner {
    padding: 20px 94px;
  }
}
@media (min-width: 1000px) {
  .header__inner {
    padding: 20px 110px;
  }
}
@media (min-width: 1440px) {
  .header__inner {
    padding-left: 130px;
  }
}

.header-logo {
  min-width: 100px;
}

.header-actions {
  display: flex;
  gap: 60px;
}

.visible-button.button {
  display: none;
}
@media (min-width: 768px) {
  .visible-button.button {
    display: block;
  }
}

@media (min-width: 1280px) {
  .burger-button {
    display: none;
  }
}

.header-nav {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: none;
  color: var(--white);
}
@media (min-width: 1280px) {
  .header-nav {
    display: flex;
    gap: 28px;
  }
}
@media (min-width: 1440px) {
  .header-nav {
    margin-left: 70px;
  }
}

.header-nav__link {
  position: relative;
}

.header-nav__link:after {
  content: "";
  position: absolute;
  background: var(--white);
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.header-nav__link:hover:after {
  width: 100%;
}

.button {
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 48px;
  text-align: center;
  transition: box-shadow 0.2s ease, opacity 0.2s ease;
}

.button--primary {
  color: rgb(109, 49, 208);
  background-color: rgb(255, 219, 128);
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
}

@media (hover: hover) {
  .button--primary:hover {
    background-color: rgb(255, 200, 90);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }
}
@media (hover: none) {
  .button--primary:active {
    background-color: rgb(255, 200, 90);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.button--small {
  min-width: 146px;
}

.button--medium {
  min-width: 180px;
}

.button--large {
  min-width: 200px;
}

.button--secondary {
  position: relative;
  background: var(--buton-background);
  box-shadow: 0px 4px 35px 0px rgba(255, 185, 175, 0.3);
  color: rgb(109, 49, 208);
  z-index: 1;
}

@media (hover: hover) {
  .button--secondary:hover {
    color: rgb(255, 219, 128);
  }
  .button--secondary:hover .button-hover--bg {
    opacity: 1;
  }
}
@media (hover: none) {
  .button--secondary:active {
    color: rgb(255, 219, 128);
  }
  .button--secondary:active .button-hover--bg {
    opacity: 1;
  }
}

.button-hover--bg {
  transition: box-shadow 0.2s ease, opacity 0.2s ease;
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 4px 36px 0 rgba(255, 185, 175, 0.3);
  background: linear-gradient(to right, rgb(109, 49, 208) 0%, rgb(171, 128, 239) 100%);
  border: 1px solid rgb(255, 219, 128);
}

.hero-slide {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 840px;
}
@media (min-width: 480px) {
  .hero-slide {
    min-height: 800px;
  }
}

.button--align {
  place-self: center;
}
@media (min-width: 768px) {
  .button--align {
    place-self: start;
  }
}

.slide__img {
  z-index: -1;
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__content {
  display: grid;
  padding: 20px 20px 100px 20px;
  color: var(--white);
  grid-row-gap: 20px;
}
@media (min-width: 480px) {
  .slide__content {
    padding: 40px 40px 100px 40px;
  }
}
@media (min-width: 768px) {
  .slide__content {
    padding: 140px 110px 106px 94px;
  }
}
@media (min-width: 1000px) {
  .slide__content {
    padding: 140px 326px 130px 110px;
    grid-row-gap: 24px;
  }
}
@media (min-width: 1280px) {
  .slide__content {
    padding: 130px 50% 100px 158px;
  }
}

.slide__options {
  display: grid;
  gap: 12px;
  place-items: center;
}
@media (min-width: 480px) {
  .slide__options {
    gap: 22px;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .slide__options {
    gap: 22px;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto;
  }
}

@media (min-width: 480px) {
  .slide__options-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
  }
}
@media (min-width: 768px) {
  .slide__options-item:nth-child(3) {
    grid-column: auto;
    place-self: auto;
  }
}

.slide__options-item {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  background: rgba(109, 49, 208, 0.5);
  box-shadow: 0 0 80px 0 rgb(2, 63, 118);
  color: rgb(255, 219, 128);
  border-radius: 30px;
  padding: 0 4px;
  font-size: 16px;
  font-weight: 16px;
  font-family: var(--font-family-base);
}

.slide__options-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 5px;
  width: 2px;
  height: 10px;
  background: var(--white);
}

.slide__heading-wrap {
  display: grid;
  text-align: center;
  font-family: var(--font-family-base);
}
@media (min-width: 480px) {
  .slide__heading-wrap {
    font-size: 36px;
    justify-self: start;
    text-align: left;
    letter-spacing: 0;
    min-width: 400px;
  }
}

.slide__heading {
  font-size: 36px;
}

.slide__subheading {
  font-weight: 600;
}

.slide__text {
  text-align: center;
}
@media (min-width: 480px) {
  .slide__text {
    text-align: start;
  }
}

.cities-cards {
  position: relative;
  z-index: 1;
  padding-left: 51px;
}
@media (min-width: 768px) {
  .cities-cards {
    padding-left: 66px;
  }
}
@media (min-width: 1000px) {
  .cities-cards {
    padding-left: 110px;
  }
}
@media (min-width: 1440px) {
  .cities-cards {
    padding-left: 158px;
  }
}

.cities-cards__heading {
  padding-bottom: 10px;
  font-size: 20px;
  font-family: var(--font-family-base);
  color: var(--white);
}

.cities-cards__grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 18px;
  overflow: auto;
}
@media (min-width: 1000px) {
  .cities-cards__grid {
    grid-column-gap: 38px;
  }
}

.city-card {
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 2px solid var(--white);
  margin: 4px 0 20px 2px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.02), 5px 6px 6px 0 rgba(0, 0, 0, 0.03);
}

@media (hover: hover) {
  .city-card:hover {
    transform: scale(1.03);
  }
}
@media (hover: none) {
  .city-card:active {
    transform: scale(1.03);
  }
}

.city-card__image-wrap {
  width: 130px;
  height: 124px;
  margin: 10px 7px;
}

.city-card__title {
  padding: 8px 0 10px 10px;
  display: flex;
  justify-content: start;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 105, 194);
}

.dialog-menu {
  position: absolute;
  z-index: 100;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.dialog-menu--active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.dialog-menu__inner {
  position: relative;
  height: 100%;
}

.button-close {
  position: absolute;
  color: black;
  right: 50px;
  top: 40px;
}

.button-close__svg {
  color: black;
}

.dialog-list {
  text-align: center;
  padding-top: 150px;
  display: grid;
  justify-content: center;
  grid-row-gap: 40px;
}

.dialog-list__link {
  padding: 4px 8px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-base);
}

.dialog-list__link:after {
  content: "";
  position: absolute;
  background: black;
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.dialog-list__link:hover:after {
  width: 100%;
}

.services {
  background: var(--home-violet-background);
}

.services__heading {
  position: relative;
  display: grid;
  justify-items: center;
  color: var(--white);
  font-family: var(--font-family-base);
  font-size: 36px;
  padding-bottom: 56px;
}

.services__heading:after {
  position: absolute;
  content: "";
  bottom: 40px;
  width: 300px;
  height: 4px;
  background: rgb(253, 191, 163);
}
@media (min-width: 480px) {
  .services__heading:after {
    width: 380px;
  }
}

.services__grig {
  justify-content: center;
  display: grid;
  gap: 20px;
}
@media (min-width: 1000px) {
  .services__grig {
    grid-template-columns: 380px 380px;
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1280px) {
  .services__grig {
    grid-template-columns: 380px 380px 380px;
  }
}

.services__grid-item {
  display: grid;
  grid-template-rows: auto auto;
  max-width: 580px;
  border-radius: 20px;
  background: var(--white);
  transition: transform 0.2s;
}

@media (min-width: 1000px) {
  .services__grid-item:nth-child(3) {
    max-width: 380px;
    grid-column: 1/3;
    place-self: center;
  }
}
@media (min-width: 1280px) {
  .services__grid-item:nth-child(3) {
    grid-column: auto;
    place-self: auto;
  }
}

.services__grid-item:hover {
  transform: scale(1.02);
}

.services__img-wrap {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__content {
  min-height: 290px;
  color: var(--paragrahp-black-color);
  display: grid;
  place-items: center;
}

.services__content-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: var(--font-family-base);
  font-size: 24px;
  color: var(--heading-black-color);
}
@media (min-width: 480px) {
  .services__content-heading {
    font-size: 36px;
  }
}

.services__content-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-base);
}
@media (min-width: 480px) {
  .services__content-text {
    padding: 0 30px;
  }
}

@media (min-width: 1000px) {
  .moving-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
  }
}

.moving-intro__image-wrap {
  position: relative;
  flex-shrink: 0;
  height: 300px;
}
@media (min-width: 1000px) {
  .moving-intro__image-wrap {
    height: 290px;
    width: 240px;
  }
}
@media (min-width: 1440px) {
  .moving-intro__image-wrap {
    height: 500px;
    width: 410px;
  }
}

.moving-intro__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.moving-intro__heading {
  text-transform: uppercase;
  font-size: 34px;
  color: var(--heading-black-color);
}

.moving-intro__content {
  color: var(--paragrahp-black-color);
  flex-shrink: 1;
  padding: 40px;
  grid-row-gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .moving-intro__content {
    padding: 40px 144px;
  }
}
@media (min-width: 1000px) {
  .moving-intro__content {
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .moving-intro__hero-img:after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.4);
    right: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .moving-intro__secondary-img:before {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.4);
    left: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
  }
}

.why-cyprus {
  background: linear-gradient(to bottom, rgb(254, 252, 158) 0%, rgb(253, 191, 163) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-cyprus__heading-wrap {
  max-width: 490px;
  display: grid;
  grid-row-gap: 12px;
  text-align: center;
  padding: 60px 20px 40px 20px;
  color: var(--dark-blue);
}
@media (min-width: 768px) {
  .why-cyprus__heading-wrap {
    padding-bottom: 60px;
    padding-top: 80px;
  }
}

.why-cyprus__description {
  padding: 0 30px 0 40px;
}
@media (min-width: 768px) {
  .why-cyprus__description {
    padding: 0;
  }
}

.why-cyprus__headind {
  font-size: 36px;
}
@media (min-width: 768px) {
  .why-cyprus__headind {
    text-transform: uppercase;
  }
}

.why-cyprus__grid {
  font-family: var(--font-family-base);
  padding: 0 45px 60px 45px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: minmax(140px, 280px) minmax(140px, 280px);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
@media (min-width: 768px) {
  .why-cyprus__grid {
    grid-row-gap: 60px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  .why-cyprus__grid {
    grid-template-columns: repeat(4, minmax(180px, 280px));
    grid-template-rows: auto;
  }
}

.why-cyprus__grid-cell {
  display: grid;
  grid-row-gap: 8px;
  place-items: center;
}

.why-cyprus__text {
  text-align: center;
  color: var(--dark-blue);
}

.why-cyprus__title {
  color: rgb(109, 49, 208);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.why-cyprus__img-wrap {
  width: 100px;
  height: auto;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .why-cyprus__img-wrap {
    width: 150px;
    height: auto;
  }
}

.map-cyprus {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 80px 0 100px 0;
}

.map-cyprus__heading {
  color: rgb(109, 49, 208);
  font-size: 28px;
  padding: 0 50px;
  text-align: center;
}

.map-cyprus__paragraph {
  color: rgb(67, 67, 100);
}

.about {
  background: var(--home-violet-background);
}

.about__inner {
  padding: 8px;
  display: grid;
  color: var(--white);
}
@media (min-width: 480px) {
  .about__inner {
    padding: 60px 50px 74px 50px;
  }
}
@media (min-width: 768px) {
  .about__inner {
    padding: 56px 210px 32px 94px;
  }
}
@media (min-width: 1000px) {
  .about__inner {
    padding: 58px 210px 32px 110px;
  }
}
@media (min-width: 1440px) {
  .about__inner {
    padding: 41px 130px 37px 130px;
    grid-auto-flow: column;
    -moz-column-gap: 120px;
         column-gap: 120px;
    justify-content: center;
  }
}

.about__heading {
  font-size: 36px;
  position: relative;
  font-family: var(--font-family-base);
}
@media (min-width: 768px) {
  .about__heading {
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .about__heading {
    text-align: start;
  }
}

.about__content {
  max-width: 680px;
  display: grid;
  padding-bottom: 40px;
  grid-row-gap: 24px;
}
@media (min-width: 768px) {
  .about__content {
    padding-bottom: 44px;
  }
}
@media (min-width: 1440px) {
  .about__content {
    padding-top: 22px;
  }
}

@media (min-width: 1440px) {
  .about__text {
    padding-bottom: 30px;
  }
}

.about__content > :nth-child(5) {
  justify-self: start;
}

.about__heading::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 4px;
  background: rgb(253, 191, 163);
  left: 0;
  bottom: -26px;
}
@media (min-width: 768px) {
  .about__heading::after {
    left: -94px;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .about__heading::after {
    left: -110px;
    width: 66%;
    bottom: -20px;
  }
}
@media (min-width: 1440px) {
  .about__heading::after {
    width: 80%;
    left: 0;
  }
}

.about__card-profile {
  background: var(--white);
  border-radius: 20px;
  max-width: 380px;
  max-height: 600px;
  padding: 20px 50px 40px 50px;
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  justify-content: center;
  box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 80%;
}
@media (min-width: 768px) {
  .about__card-profile {
    display: flex;
    max-width: 580px;
    max-height: 440px;
    padding: 20px 46px 20px 20px;
  }
}

.about__card-content {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 14px;
}
@media (min-width: 768px) {
  .about__card-content {
    align-items: start;
    padding-top: 24px;
  }
}

/*.about__card-profile > :nth-child(4) {
  justify-self: center;
} */
.about__card-heading {
  text-transform: uppercase;
  color: var(--violet-text);
}

.about__card-text {
  white-space: nowrap;
  color: var(--dark-blue);
  padding-bottom: 6px;
  font-family: var(--font-family-base);
}

.process {
  background: linear-gradient(to bottom, rgb(254, 252, 158) 0%, rgb(253, 191, 163) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process__headind {
  max-width: 490px;
  display: grid;
  grid-row-gap: 12px;
  text-align: center;
  padding: 60px 20px 40px 20px;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-size: 36px;
}
@media (min-width: 768px) {
  .process__headind {
    padding-bottom: 60px;
    padding-top: 80px;
  }
}

.process__grid {
  font-family: var(--font-family-base);
  padding: 0 45px 60px 45px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: minmax(140px, 180px) minmax(140px, 180px);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: start;
}
@media (min-width: 768px) {
  .process__grid {
    grid-row-gap: 60px;
    padding-bottom: 80px;
    grid-template-columns: minmax(140px, 280px) minmax(140px, 280px);
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .process__grid {
    grid-template-columns: repeat(4, minmax(180px, 280px));
    grid-template-rows: auto;
  }
}

.process__grid-cell {
  display: grid;
  grid-row-gap: 8px;
  place-items: center;
}

.process__text {
  text-align: center;
  color: var(--dark-blue);
}

.process__title {
  color: rgb(109, 49, 208);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.process__img-wrap {
  width: 120px;
  height: auto;
  padding-bottom: 12px;
}

.form {
  width: 100%;
  background: linear-gradient(to bottom, rgba(109, 49, 208, 0.1), rgba(109, 49, 208, 0.21), rgba(109, 49, 208, 0.47), rgb(109, 49, 208));
}

.form__inner {
  padding: 60px 40px;
  display: grid;
  grid-row-gap: 30px;
  justify-content: center;
  place-items: center;
  color: var(--violet-text);
  font-size: 20px;
  font-family: var(--font-family-base);
  font-weight: 600;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__inner {
    max-width: 680px;
  }
}

.form__heading {
  color: var(--dark-blue);
  position: relative;
  text-transform: uppercase;
  font-size: 36px;
}
@media (min-width: 768px) {
  .form__heading {
    margin-bottom: 20px;
  }
}

.form__heading::after {
  position: absolute;
  content: "";
  background: var(--light-peach);
  width: 100%;
  height: 4px;
  bottom: -20px;
  left: 0;
}
@media (min-width: 480px) {
  .form__heading::after {
    width: 380px;
    left: -70px;
  }
}

.form__phone,
.form__email {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

.form__icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}

.dialog {
  margin-top: 10px;
  background: rgba(255, 219, 128, 0.5);
  border-radius: 60px;
}
@media (min-width: 768px) {
  .dialog {
    margin-top: 30px;
  }
}

.dialog__inner {
  padding: 34px 10px;
  display: grid;
  row-gap: 14px;
}
@media (min-width: 1280px) {
  .dialog__inner {
    width: 1180px;
    padding: 34px 300px 34px 300px;
  }
}

.dialog__cells-wrap {
  display: grid;
  row-gap: 14px;
}
@media (min-width: 768px) {
  .dialog__cells-wrap {
    grid-template-columns: 280px 280px;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.dialog__input {
  outline: none;
  padding: 0 0 0 30px;
  height: 47px;
  border-radius: 16px;
  border: none;
  background: rgb(255, 255, 255);
  color: var(--grey-warm);
  font-size: 16px;
  font-weight: 400;
}

.dialog__inner > .button {
  justify-self: center;
}

.dialog__heading {
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 28px;
  text-align: center;
}

.dialog__lable-checkbox {
  display: flex;
  gap: 20px;
}

.dialog__label-text {
  cursor: default;
  color: var(--gray-dark);
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .dialog__label-text {
    max-width: 328px;
  }
}

.dialog__input-checkbox {
  display: none;
}

.dialog__textarea {
  height: 200px;
  padding-bottom: 120px;
}

.checkbox__custom {
  min-width: 32px;
  height: 32px;
  border: 1px solid var(--white);
  display: block;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.dialog__input-checkbox:checked + .checkbox__custom::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 10px;
  height: 20px;
  border: solid #6d31d0;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.dialog__link {
  color: var(--violet-text);
}/*# sourceMappingURL=styles.css.map */